CONFIG_PRINTK=n
CONFIG_EARLY_PRINTK=n
CONFIG_DYNAMIC_DEBUG=n
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=0
CONFIG_CONSOLE_LOGLEVEL_QUIET=0
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=0
CONFIG_BOOT_PRINTK_DELAY=n
CONFIG_EARLY_PRINTK_DIRECT=n

#these cause destruction
#CONFIG_DEBUG_INFO=n
#CONFIG_DEBUG_KERNEL=n
#CONFIG_FRAMEBUFFER_CONSOLE=n
#CONFIG_VT=n